APP_PORT=4000

RABBITMQ_USER=""
RABBITMQ_PASS=""
RABBITMQ_HOST=""
RABBITMQ_VIRTUAL_HOST=""
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAG_PORT=15672
RABBITMQ_URL="amqp://${RABBITMQ_USER}:${RABBITMQ_PASS}@${RABBITMQ_HOST}:${RABBITMQ_AMQP_PORT}/${RABBITMQ_VIRTUAL_HOST}"
